.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a:hover {
    background-color: #4682B4;
  }
  
  .topnav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
  }

  .portfolioimg {
    max-width: 200px;
    max-height: 200px;
  }

   /* <uniquifier>: Use a uniquifier for the class name
  <weight>: Use a value from 400 to 900
   */

  * {
    font-family: "Noto Sans JP", sans-serif;
  }