.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a:hover {
    background-color: #4682B4;
  }
  
  .topnav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
  }

  .portfolioimg {
    max-width: 200px;
    max-height: 200px;
  }