/*coloring for webpage is:
https://colorhunt.co/palette/0000004e4feb068fffeeeeee
Black: #000000
Blue: #4e4feb
Lighter blue: #068fff
grey: #eeeeee
*/


body {
  background-color: #000000;
  text-align: center;
}

/* .row {
  background-color: #4E4FEB;
} */



.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a:hover {
  background-color: #4682B4;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 16px;
}

.portfolioimg {
  max-width: 400px;
  max-height: 400px;
}

h1 {
  color: #eeeeee;
}

h2 {
  color: #eeeeee;
}

h3 {
  color: #eeeeee;
}

h4 {
  color: #eeeeee;
}

p {
  color: #eeeeee;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}